<div id="container">
  <h2 class="md-display-1">Links</h2>

  <mat-card class='flex-space-around'>
    <mat-card-title>Rundeck</mat-card-title>
    <mat-card-content>
      <a href="https://rundeck-core-eu-test.int.jumio.com/menu/home" target="rundeck-eu">Rundeck EU Test</a>
      <a href="https://rundeck-core-us-test.int.jumio.com/menu/home" target="rundeck-us">Rundeck US Test</a>
      <a href="https://rundeck-core-sgp-test.int.jumio.com/menu/home" target="rundeck-sgp">Rundeck SGP Test</a>
    </mat-card-content>
  </mat-card>

  <mat-card class='flex-space-around'>
    <mat-card-title>Marathon</mat-card-title>
    <mat-card-content>
      <a href="https://marathon-core-eu-test.int.jumio.com/" target="kibana-eu">Kibana EU Test</a>
      <a href="https://marathon-core-us-test.int.jumio.com/" target="kibana-us">Kibana US Test</a>
      <a href="https://marathon-core-sgp-test.int.jumio.com/" target="kibana-sgp">Kibana SGP Test</a>
    </mat-card-content>
  </mat-card>

  <mat-card class='flex-space-around'>
    <mat-card-title>Kibana</mat-card-title>
    <mat-card-content>
      <a href="https://kibana.int.jumio.com/app/kibana#/discover/e3888c20-575b-11ec-955a-0d9aee11f0d4"
        target="kibana-eu">Kibana US Test</a>
      <a href="https://kibana.int.jumio.com/app/kibana#/discover/06ae0b80-575c-11ec-955a-0d9aee11f0d4"
        target="kibana-us">Kibana EU Test</a>
      <a href="https://kibana.int.jumio.com/app/kibana#/discover/2800c6b0-575c-11ec-955a-0d9aee11f0d4"
        target="kibana-sgp">Kibana SGP Test</a>
    </mat-card-content>
  </mat-card>

</div>
