<div id="infoAtCursor" class="invisible">{{infoAtCursorService.text|async}}</div>
<p>
  <mat-toolbar color="primary">
    <span [routerLink]="['']" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">My App</span>
    <button [routerLink]="['sns']" routerLinkActive="active-route" mat-icon-button>
      <mat-icon>dashboard</mat-icon>
    </button>
    <button [routerLink]="['links']" routerLinkActive="active-route" mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
    <button [routerLink]="['ro-calendar']" routerLinkActive="active-route" mat-icon-button>
      <mat-icon>edit_calendar</mat-icon>
    </button>
    <button [routerLink]="['settings']" routerLinkActive="active-route" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div id='router-outlet-container'>
  <router-outlet></router-outlet>
</div>
