<div>
  <mat-card>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>region</mat-label>

      <mat-select [(ngModel)]="subscribeTopicRequest.region">
        <mat-option value="eu-west-1">eu-west-1</mat-option>
        <mat-option value="us-east-1">us-east-1</mat-option>
        <mat-option value="ap-southeast-1">ap-southeast-1</mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>topicName</mat-label>
      <input matInput type="text" [(ngModel)]="subscribeTopicRequest.topicName">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>protocol</mat-label>
      <mat-select [(ngModel)]="subscribeTopicRequest.protocol" (valueChange)="changedDropDown($event)">
        <mat-option value="EMAIL">EMAIL</mat-option>
        <mat-option value="SQS">SQS</mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>endpoint</mat-label>
      <input matInput type="text" [(ngModel)]="subscribeTopicRequest.endpoint">
    </mat-form-field>
    <button (click)="subscribe(subscribeTopicRequest)" [disabled]="freezeButtons|async" mat-button
      color="primary">subscribe</button>

    <p [ngClass]="messageCreateError ? 'red' : 'green'">{{messageCreate}}</p>
    <p [innerHTML]="messageSqsMagic | allowHtml"
      *ngIf="subscribeTopicRequest.protocol === 'SQS' && !!messageSqsMagic && messageSqsMagic.length != 0"></p>

  </mat-card>

  <mat-card>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>topicName</mat-label>
      <input matInput type="text" [(ngModel)]="topicNameFilter">
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>region</mat-label>

      <mat-select [(ngModel)]="regionFilter">
        <mat-option value="eu-west-1">eu-west-1</mat-option>
        <mat-option value="us-east-1">us-east-1</mat-option>
        <mat-option value="ap-southeast-1">ap-southeast-1</mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>protocol</mat-label>
      <mat-select [(ngModel)]="protocolFilter">
        <mat-option value="EMAIL">EMAIL</mat-option>
        <mat-option value="SQS">SQS</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>endpoint</mat-label>
      <input matInput type="text" [(ngModel)]="endpointFilter">
    </mat-form-field>
    <button (click)="load(topicNameFilter, regionFilter, protocolFilter, endpointFilter)"
      [disabled]="freezeButtons|async" mat-button color="primary">load subscriptions</button>

    <p [ngClass]="messageLoadError ? 'red' : 'green'">{{messageLoad}}</p>

    <p [ngClass]="messageDeleteError ? 'red' : 'green'">{{messageDelete}}</p>

    <table id="table" mat-table [dataSource]="listSubscriptionResult.subscriptions" class="mat-elevation-z8">
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>region</th>
        <td mat-cell *matCellDef="let element" (click)="infoAtCursorService.copyToClipboard(element.region)">
          {{element.region}} </td>
      </ng-container>
      <ng-container matColumnDef="subscriptionArn">
        <th mat-header-cell *matHeaderCellDef>subscriptionArn</th>
        <td mat-cell *matCellDef="let element" class="subscriptionArn"
          (click)="infoAtCursorService.copyToClipboard(element.subscriptionArn)"> {{element.subscriptionArn}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>topicArn</th>
        <td mat-cell *matCellDef="let element" class="subscriptionArn"
          (click)="infoAtCursorService.copyToClipboard(element.topicArn)"> {{element.topicArn}} </td>
      </ng-container>
      <ng-container matColumnDef="endpoint">
        <th mat-header-cell *matHeaderCellDef>endpoint</th>
        <td mat-cell *matCellDef="let element" (click)="infoAtCursorService.copyToClipboard(element.endpoint)">
          {{element.endpoint}} </td>
      </ng-container>
      <ng-container matColumnDef="protocol">
        <th mat-header-cell *matHeaderCellDef>protocol</th>
        <td mat-cell *matCellDef="let element" (click)="infoAtCursorService.copyToClipboard(element.protocol)">
          {{element.protocol}} </td>
      </ng-container>
      <ng-container matColumnDef="unsubscribe">
        <th mat-header-cell *matHeaderCellDef>unsubscribe</th>
        <td mat-cell *matCellDef="let element"> <button
            (click)="unsubscribe({region:element.region,subscriptionArn:element.subscriptionArn})"
            [disabled]="freezeButtons|async" mat-button color="warn">unsubscribe</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



  </mat-card>
</div>
