<button color="primary" mat-stroked-button (click)="loadEvents()" [disabled]="working"> reload</button>

<table>
  <tr>
    <th>id</th>
    <th>start</th>
    <th>end</th>
    <th>summary</th>
    <th>link</th>
    <th>reserve</th>
    <th>unreserve</th>
  </tr>

  <tr *ngIf="events.length === 0" id="spinner-line">
    <td *ngFor="let x of [].constructor(7)">
      <div>
        <mat-spinner [diameter]="15"></mat-spinner>
      </div>
    </td>
  </tr>

  <tr *ngFor="let e of events">
    <td>{{e.id}}</td>
    <td>{{e.start.dateTime.value | saneDateTime}}</td>
    <td>{{e.end.dateTime.value | saneDateTime}}</td>
    <td>{{e.summary}}</td>
    <td><a [href]="e.htmlLink">go to event</a></td>
    <td><button color="primary" [disabled]="e.summary !== 'Empty slot'" (click)="reserve(e.id)"
        mat-stroked-button>reserve</button></td>
    <td><button color="primary" [disabled]="e.summary === 'Empty slot'" (click)="unreserve(e.id)"
        mat-stroked-button>unreserve</button></td>
  </tr>
</table>
